html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-image: url("../images/general/landingBackground.png");
    background-repeat: none;
    background-size: cover;
}

body header {
    margin: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body header .header-links a {
    margin: 0 2.1875em;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #2E4159;
}

body header a:hover {
    text-decoration: underline;
}

body header .header-account-button-container button {
    font-family:  'Bebas Neue', cursive;
    font-size: 1.25em;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #2E4159;
}

body header button:hover {
    color: #2E4159;
    background-color: #FFFFFF;
}

body main {
    text-align: center;
}

body main label, body main input {
    display: block;
}

/* 
text-align left to ensure text isn't centered when main section is centered 
display inline-block to ensure parent form element matches width of contents as screen is resized
*/
body main #landing-search-bar {
    display: inline-block;
    padding: 0.5em 0em 0.5em 1em;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 2px solid #2E4159;
    text-align: left;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* body main #landing-search-bar .landing-search-item:hover {
    background-color: lightgrey;
} */

body main #landing-search-bar .landing-search-item label input {
    border: none;
    outline: none;
}

/* Removes number input field arrows in chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes number input field arrows in firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

body main #landing-search-bar .landing-search-item {
    height: 100%;
    float: left;
}

body main #landing-search-bar .landing-search-button {
    height: 100%;
    float: left;
    padding: 0.5em;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
}

body main #landing-search-bar .landing-search-button i {
    font-size: 1.75em;
}

body main #landing-search-bar .landing-search-button:hover {
    color: #FFFFFF;
    background-color: #2E4159;
}

.standard-button {
    border-color: #2E4159;
    border-radius: 30%/100%;
    padding: 0.25em 1.5em;
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.button-shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}